body {
    background-color: hsl(224 71% 4%);
    color: hsl(213 31% 91%);
    font-family: Minecraft;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    padding-top: 10px;
    background: rgb(126 131 187 / 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgb(94 102 188);
    border-radius: 25px;
    padding-left: 5px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    background-clip: padding-box;
}

.__container__ {
    padding: 10px;
}

.code {
    border: 1px solid hsl(216 34% 17%);
    width: calc(100% - 15px);
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    font-family: Poppins;
}

div.code > div:not(:first-child) {
    padding-left: 2.5%;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.highlight-fc005 {
    color: #5865f2;
}

.highlight-fc004 {
    color: #F69D50;
}

.highlight-fc003 {
    color: rgb(0 225 0);
}

.highlight-fc002 {
    color: #F65D90;
}

.highlight-fc001 {
    color: #96D0FF;
}

.badge-warning {
    background-color: rgb(246 93 137/.5);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font: Poppins;
    color: white;
    border-radius: 40px;
}

hr {
    border: 1px solid rgb(64 64 64 / 0.5);
}

@font-face {
    font-family: Minecraft;
    src: url(minecraft.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2);
}

.code-with-info {
    padding-top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.codeinfo {
    font-size: 17.5px;
    font-family: Poppins;
}

.title {
    padding-top: 30px;
    font-family: Orbitron;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.title-code {
    padding-top: 10px;
    font-family: Orbitron;
    font-weight: bold;
    font-size: 25px;
}

.title-code > svg {
    width: 25px;
    height: 25px;
}

.info__ {
    color: rgb(160 160 160);
    font-family: Minecraft;
    font-size: 20;
    text-align: center;
}

.buttonlist {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}

.buttonlist > a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: 700;
    font-family: Orbitron;
    font-size: .875rem;
    margin: 0 auto;
}

a.button {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: Orbitron;
    font-size: .875rem;
    margin: 0 auto;
}

svg {
    width: .8rem;
    height: auto;
}

.highlight-blue {
    background-color: #5865f2;
    padding: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: inline;
    border-radius: 3.5px;
    animation: highlightblueanimation infinite 7s;
}

@keyframes highlightblueanimation {
    0% {
        background-color: #5865f2;
    }
    50% {
        background-color: #727be6;
    }
    100% {
        background-color: #5865f2;
    }
}
